<div class="alert alert-danger col-md-12" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size: 16px">
    <span aria-hidden="true">&times;</span>
  </button>
  <p><%= notice %></p>
</div>
