# config/app.yml for rails-settings-cached
defaults: &defaults
  instagram:
    client_id: client_id
    client_secret: client_secret
    redirect_uri: redirect_uri
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
