<div class="container">
  <div class="row">  
    <div class="col-md-12">
      <%= render 'partial/error_alert' if notice.present?%>

      <div class="login-wrap col-md-8 col-sm-10 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-1">
        <div class="logo_img">
          <img class="img-rounded" src="https://www.jobs.ie/logos/-2722199.png" alt="Showoff_logo">
        </div>
        <a class="btn btn-lg btn-block btn-instagram pointer" 
        href="https://api.instagram.com/oauth/authorize/?client_id=<%=@client_id%>&redirect_uri=<%=@redirect_uri%>&response_type=code">
          <i class="fa fa-instagram"></i> Sign in with Instagram 
        </a>
      </div>
    </div>
  </div>
</div>